@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap');

* {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  --theme-blue: #96c0df
}

.App {
  text-align: center;
}


.navbar-light .navbar-toggler{
  border:none
}


