.header-navbar {
  border-bottom: 2px #96c0df solid;
  z-index: 10;
}

.header-logo,
.header-link {
  color: #000 !important;
  cursor: pointer;
}

.header-collapse {
  border: none;
}

.header-span {
  color: #FF6600;
}
