* {
  --grey-tone: #f5f5f5;
  --neutral-tone: rgb(241, 251, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container-style {
  margin: 0 auto 64px auto;
  padding: 0;
}

.heritage-image {
  display: flex;
  justify-content: center;
  background-color: var(--grey-tone);
}

.heritage-image-shoe {
  background-color: var(--grey-tone);
  width: 450px;
  height: auto;
}

.heritage-text-col {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.heritage-text-para {
  text-align: center;
  text-transform: none;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.heritage-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-tone);
  border-top: rgba(43, 42, 42, 0.1) 0.1px dotted;
  border-bottom: rgba(43, 42, 42, 0.1) 0.1px dotted;
}

.heritage-image-shoe-alone {
  width: 450px;
  height: auto;
}

.heritage-span {
    color: var(--theme-blue);
    margin: 10px 0;
}

.heritage-span:hover {
    color: red;
    cursor: pointer;
}


@media (max-width: 767px) {
  .reversed-row {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1500px) {
    .heritage-image-shoe {
        width: 500px;
        height: auto;
      }
  }

  @media screen and (min-width: 768px) and (max-width:1200px){
    .heritage-image-shoe {
      width:350px;
      height: auto;
    }
}