body {
  overflow: hidden;
}

.rect1 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 2500px;
  width: 2500px;
  z-index: -100;
  transform: rotate(45deg);
  animation: rescale 60s infinite linear;
}

.rect2 {
  background-color: #96C0DF;
  position: absolute;
  height: 2500px;
  width: 2500px;
  z-index: -101;
  animation: rescale2 60s infinite linear;
}

@keyframes rescale {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rescale2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
