.modal-body {
  display: flex;
  justify-content: center;
  align-items:flex-start ;
}

label {
  margin: 0 5px;
}

.modal-input {
  width: 200px;
}

.modal-button {
  margin: 0px 5px;
  padding: 3px 10px !important ;
}

.modal-footer {
  justify-content: center;
  text-align: center;
  font-size: small;
}
