body {
  overflow-x: hidden;
}

.shoe-image {
  height: 450px;
  margin-top: -20px;
}

@media (min-width:1500px){
  /* .carousel-item{
    height: 900px;
  } */
  .shoe-image {
    height: 700px;
  }
}